@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap");
  /* font-family: 'Arima', cursive; */

@font-face {
  font-family: "kaiserSimSun";
  src: url(kaiserSimSun.woff);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
}

/*
  light: #cabbb3
  dark: #464042
*/

html {
  background-color: #464042;
  background-image: url(ac-ovl-dark.png), url(kaiserBG.png);
  background-blend-mode: normal;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

body { font-family: "kaiserSimSun", sans-serif; }

h1, h2, h3, h4, h5, h6 { font-family: 'Arima', cursive; }

footer {
  background-color: #464042;
  width: 100%;
  padding: 10px;
  color: #cabbb3;
  text-align: center;
  font-family: 'Arima', cursive;
  font-style: italic;
}

.HeroImg {
  background-size: cover;
  background-position: 32.5% center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.text {
  padding: 50px;
  text-align: center;
}

img, iframe {
  border-radius: 15px;
}