@import url("/assets/css/fonts.css");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
* { box-sizing: border-box; }

html { background-color: #464042; }
body {
  font-family: "Rubik", sans-serif;
  color: #cabbb3;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

button {
  background-color: #464042;
  border: #cabbb3 .125rem solid;
  border-radius: .75rem;
  padding: .75rem 1.25rem;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
button:hover { background-color: #383335; }

.material-symbols-outlined { /* googlefonts */
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#opnLtr {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #464042a0;
  z-index: 1000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
#opnLtr > img {
  width: 75rem;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* responsive fontsize */
@media screen and (max-width: 540px) {
  body { font-size: small; }
}
@media screen and (min-width: 540px) and (max-width: 1080px) {
  body { font-size: normal; }
}
@media screen and (min-width: 1080px) and (max-width: 1620px) {
  body { font-size: large; }
}
@media screen and (min-width: 1620px) and (max-width: 2160px) {
  body { font-size: larger; }
}
@media screen and (min-width: 2160px) and (max-width: 2700px) {
  body { font-size: x-large; }
}
@media screen and (min-width: 2700px) {
  body { font-size: xx-large; }
}