:root {
  --kaizaGr: linear-gradient(to right, #b98b73 0%, #ecd6a1 50%, #b98b73 100%);
}

html {
  background-color: #3d374c !important;
}
body {
  background-image: url("/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "SimSun", serif !important;
  color: #e5e3e1;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  z-index: 701;
  background-image: #3d374c;
  background-image: url("/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 9.5px 19px #3d374ca0;
}
header > div {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
  font-size: 1.25rem !important;
  font-weight: bold;
  line-height: 1.125rem;
}
header > div > div > #date {
  font-size: .75rem !important;
  font-weight: normal;
}

footer {
  padding: 1rem 2rem;
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: small;
  text-align: right;
  color: #cabbb3;
  background-color: #464042;
}
footer > span {
  display: block;
}

.intro {
  width: 100vw;
  height: 100vh;
  /* background-image: url("/assets/images/background/20240625_1.png"); */
  background-image: url("https://redive.estertion.win/card/full/106931.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.intro > div {
  width: 100vw;
  background-color: #1c1822c0;
  padding: 15rem 2rem;
}
.intro > div > div {
  width: 625px;
  max-width: 100%;
  margin: 0 auto;
}

div[latestLineup] {
  background-image: url("/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 2rem;
}
div[flexSheet] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div[flexSheet] > .material-symbols-outlined:hover {
  color: red;
}
div[flexSheet] > span {
  font-size: 1.75rem;
  font-weight: bold;
}
div[scrollInstruct] {
  display: flex;
  justify-content: center;
  align-items: center;
}
span[instructText] {
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
}
span[instructSym] {
  cursor: initial !important;
}
.eventFeed {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.eventFeed::-webkit-scrollbar {
  display: none;
}
.eventFeed > div {
  margin: 2rem .5rem 0 .5rem;
  width: 375px;
  background-color: #3d374c;
  border: #e5e3e1 solid .125rem;
  border-radius: 1rem;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
.eventFeed > div:hover {
  background-color: #1c1822;
}
.eventFeed > div > div {
  width: -moz-fit-content;
  width: fit-content;
  white-space: initial !important;
  padding: 1.25rem;
  -webkit-user-select: none;
  user-select: none;
}
.eventFeed > div > img {
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
.eventFeed > div > div > span {
  display: block;
}
span[type="date"] {
  font-size: .8rem;
}
span[type="eventTitle"] {
  font-size: 1.15rem;
  font-weight: bold;
}
span[type="eventText"] {
  font-size: 1rem;
}
div[pastLineup] {
  background-color: #3d374c;
  padding: 2rem;
}
.pastLineups > div {
  width: 250px !important;
}
.pastLineups > div[unreleased] {
  display: none;
}
.pastLineups > div > div > span[eventTitle] {
  font-size: .7rem;
}
div[completed] { /* if an event is already done */
  display: none !important;
}

.noVOD {
  display: none;
  width: 100% !important;
  padding: 12.5rem 0 !important;
  text-align: center;
  font-weight: bold;
  white-space: initial;
  -ms-overflow-style: initial;
}

div[class="intro"] > div > div > div[socials] {
  margin: unset;
}

div[dailyKaiser] {
  padding: 2rem;
  background-color: #e5e3e1;
  color: #3d374c;
}
div[dailyKaiser] > .dailyKaiser > div {
  width: 500px !important;
  border: #3d374c solid .125rem;
  background-color: #e5e3e1;
  color: #3d374c;
  font-weight: bold;
}
div[dailyKaiser] > .dailyKaiser > div:hover {
  background-color: #b1afad;
}
div[dailyKaiser] > .dailyKaiser > div > img {
  aspect-ratio: 1 / 1;
}
div[dailyKaiser] > .dailyKaiser > div > div > span::before {
  content: "illust. ";
}

/* override default span in .dailyKaiser */
div[dailyKaiser] > .dailyKaiser > div > div > span[memeFormat]::before {
  content: "a meme by ";
}
div[dailyKaiser] > .dailyKaiser > div > div > span[GIFormat]::before {
  content: "GIF provided by ";
}
div[dailyKaiser] > .dailyKaiser > div > div > span[clipFormat]::before {
  content: "clip provided by ";
}

span[id^="dailyKaiser-"] {
  font-size: .875rem;
  text-transform: uppercase;
}
span[id^="dailyKaiser-"]::before {
  content: unset !important;
}

div[senri] {
  background-image: url("/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 2.5rem;
}
button[senri] {
  display: block;
  margin: 0 auto;
  font-weight: bold;
}
img[senri] {
  aspect-ratio: 16 / 9;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
  margin: 0 auto;
}

div[senriBorder] {
  width: 100vw;
  height: 15px;
  background: var(--kaizaGr);
}

div[asTable] {
  overflow: auto;
}
div[asTable] > div {
  float: left;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
div[asTable] > div > div {
  width: 100%;
  height: 100%;
  padding: 15rem 2rem;
  background-color: #3d374cc0;
}
div[asTable] > div > div > div {
  text-align: center !important;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}
div[socials] {
  display: block;
  margin: 0 auto;
}
div[socials] > span, svg {
  padding: 5px !important;
  cursor: pointer;
}
div[socials] > span:hover, svg:hover {
  color: red;
}
div[socials] > svg {
  height: 1.25rem !important;
}
div[阿賀忠] {
  background-image: url("https://pbs.twimg.com/media/FbH9U7UVsAUzMMQ?format=jpg&name=4096x4096");
  background-position: center 40%;
}
div[蒼井翔太] {
  background-image: url("https://www.shouta-aoi.jp/img/banner/pc/6641d55722e40.jpg");
  background-position: center top;
}

img[showtaSenri] {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

/* responsive display */
@media screen and (max-width: 1000px) {
  div[asTable] > div {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  div[flexSheet] > .wide {
    display: flex;
  }
  div[flexSheet] > .min {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  div[flexSheet] > .wide {
    display: none;
  }
  div[flexSheet] > .min {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  div[flexSheet] > .wide {
    display: none;
  }
  div[flexSheet] > .min {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  header > div {
    display: none;
  }
}