@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /* googlefonts */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: inherit;
  cursor: pointer;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css"); /* fontawesome */

:root {
  --kaizaGr: linear-gradient(to right, #b98b73 0%, #ecd6a1 50%, #b98b73 100%);
}

html {
  background-color: #3d374c !important;
}
body {
  background-image: url("/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "SimSun", serif !important;
  color: #e5e3e1;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  z-index: 701;
  background-image: url("/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 9.5px 19px #3d374ca0;
}
header > div {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
  font-size: 1.25rem !important;
  font-weight: bold;
  line-height: 1.125rem;
}
header > div > div > #date {
  font-size: .75rem !important;
  font-weight: normal;
}

footer {
  padding: 1rem 2rem;
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: small;
  text-align: right;
  color: #cabbb3;
  background-color: #464042;
}
footer > span {
  display: block;
}

.intro {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/background/20240625_1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.intro > div {
  width: 100vw;
  background-color: #1c1822c0;
  padding: 15rem 2rem;
}
.intro > div > div {
  width: 625px;
  max-width: 100%;
  margin: 0 auto;
}

div[latestLineup] {
  background-image: url("/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 2rem;
}
div[flexSheet] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div[flexSheet] > .material-symbols-outlined:hover {
  color: red;
}
div[flexSheet] > span {
  font-size: 1.75rem;
  font-weight: bold;
}
div[scrollInstruct] {
  display: flex;
  justify-content: center;
  align-items: center;
}
span[instructText] {
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
}
span[instructSym] {
  cursor: initial !important;
}
.eventFeed {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.eventFeed::-webkit-scrollbar {
  display: none;
}
.eventFeed > div {
  margin: 2rem .5rem 0 .5rem;
  width: 375px;
  background-color: #3d374c;
  border: #e5e3e1 solid .125rem;
  border-radius: 1rem;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
.eventFeed > div:hover {
  background-color: #1c1822;
}
.eventFeed > div > div {
  width: -moz-fit-content;
  width: fit-content;
  white-space: initial !important;
  padding: 1.25rem;
  -webkit-user-select: none;
  user-select: none;
}
.eventFeed > div > img {
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
.eventFeed > div > div > span {
  display: block;
}
span[type="date"] {
  font-size: .8rem;
}
span[type="eventTitle"] {
  font-size: 1.15rem;
  font-weight: bold;
}
span[type="eventText"] {
  font-size: 1rem;
}
div[pastLineup] {
  background-color: #3d374c;
  padding: 2rem;
}
.pastLineups > div {
  width: 250px !important;
}
.pastLineups > div > div > span[eventTitle] {
  font-size: .7rem;
}
.completed { /* if an event is already done */
  display: none !important;
}

div[senri] {
  background-image: url("/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 2.5rem;
}
button[senri] {
  display: block;
  margin: 0 auto;
  font-weight: bold;
}
img[senri] {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center top;
  margin: 0 auto;
}

div[senriBorder] {
  width: 100vw;
  height: 15px;
  background: var(--kaizaGr);
}

div[asTable] {
  overflow: auto;
}
div[asTable] > div {
  float: left;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
div[asTable] > div > div {
  width: 100%;
  height: 100%;
  padding: 15rem 2rem;
  background-color: #3d374cc0;
}
div[asTable] > div > div > div {
  text-align: center !important;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}
div[socials] {
  display: flex;
  justify-content: center;
  align-items: center;
}
div[socials] > span, svg {
  padding: 0 7.5px 0 7.5px !important;
  cursor: pointer;
}
div[socials] > svg {
  height: 1.25rem !important;
}
div[阿賀忠] {
  background-image: url("https://pbs.twimg.com/media/FbH9U7UVsAUzMMQ?format=jpg&name=4096x4096");
  background-position: center 40%;
}
div[蒼井翔太] {
  background-image: url("https://www.shouta-aoi.jp/img/banner/pc/6641d55722e40.jpg");
  background-position: center top;
}

/* responsive display */
@media screen and (max-width: 1000px) {
  div[asTable] > div {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  div[flexSheet] > .wide {
    display: flex;
  }
  div[flexSheet] > .min {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  div[flexSheet] > .wide {
    display: none;
  }
  div[flexSheet] > .min {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  div[flexSheet] > .wide {
    display: none;
  }
  div[flexSheet] > .min {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  header > div {
    display: none;
  }
}

/* responsive fontsize */
@media screen and (max-width: 540px) {
  body {
    font-size: small;
  }
}
@media screen and (min-width: 540px) and (max-width: 1080px) {
  body {
    font-size: normal;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1620px) {
  body {
    font-size: large;
  }
}
@media screen and (min-width: 1620px) and (max-width: 2160px) {
  body {
    font-size: larger;
  }
}
@media screen and (min-width: 2160px) and (max-width: 2700px) {
  body {
    font-size: x-large;
  }
}
@media screen and (min-width: 2700px) {
  body {
    font-size: xx-large;
  }
}